@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #ebebebef;
  color: #222; 
  user-select: none;
}
/*
header.topbar {
  background: #b40000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.user-info img {
  width: 30px;
  height: 30px;
  padding: 2px;
}
.top-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon-btn {
  width: 28px;
  height: 28px;
}



*/

/* ---------- Topbar ---------- */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b40000;
  padding: 7px 8px;
  color: white;
  position: relative;
  z-index: 1000;
  position: sticky;
  top: 0;

}

.user-icon {
  width: 37px;
  height: 37px;
}
.user-icon:hover {
  opacity: 0.8;
}

.icon-btn {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  cursor: pointer;
}

/* ---------- Side Menu ---------- */
.side-menu {
  position: fixed;
  top: 0;
  right: -280px; /* hidden initially */
  width: 220px;
  height: 100%;
  background: #f5f5f5;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.315);
  transition: left 0.5s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.side-menu-cont {
  position: relative;
  height: 100%;
  padding: 10px;
}

.user_info-menu {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px;
  background: #f8fafc;
  border-top: 1px solid #b40000;
}
.user_info-menu img {
  width: 22px;
  background-color:#b40000; 
  border-radius:50%;
  padding: 5px;
}

.side-menu.open {
  left: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  background: #b40000;
}

.menu-user {
  width: 37px;
  height: 37px;  
  cursor: pointer;
  transition: 0.2s;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: bolder;
  font-size: 23px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px 2px;
  border-bottom: 1px solid #fc7272;
  
}
.menu-list li img{
  height: 18px;
  width: 18px;
  background: #b40000;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.menu-list a,
.logout-btn {
  text-decoration: none;
  font-weight: 600;
  color: #b40000;
  font-size: 15px;  
  background: none;
  border: none; 
  cursor: pointer;
}

.menu-list li:hover {
  background: #b40000bb;
}

/* ---------- Overlay ---------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 150;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.user_email {
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 1.1;
}
.user {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.email {
  font-size: 11px;
  font-weight: 700;
  color: #555;
  margin: 0;
}

.signout-btn{
  background:none;
  border: none;
} 